# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
